<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <a href="{{ path('app_home') }}" class="logo">
                <img src="{{ asset('assets/img/kaiadmin/evolve.png') }}" alt="navbar brand" class="navbar-brand" height="100"/>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item active">
                    <a data-bs-toggle="collapse" href="#dashboard">
                        <i class="fas fa-home"></i>
                        <p>Dashboard</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="dashboard">
                        <ul class="nav nav-collapse">
                            <li>
                                <a href="{{ path('app_dashboard') }}">
                                    <span class="sub-item">Dashboard 1</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>

                <li class="nav-section">
                    <span class="sidebar-mini-icon"><i class="fa fa-ellipsis-h"></i></span>
                    <h4 class="text-section">Components</h4>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#base">
                        <i class="fas fa-layer-group"></i>
                        <p>Gestion Utilisateurs</p>
                       
                    </a>
                   
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#sidebarLayouts">
                        <i class="fas fa-th-list"></i>
                        <p>Gestion Congés</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="sidebarLayouts">
                        <ul class="nav nav-collapse">
                            <li><a href="{{ path('app_sidebar_style2') }}"><span class="sub-item">Congés</span></a></li>
                            <li><a href="{{ path('app_icon_menu') }}"><span class="sub-item">Absences</span></a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#forms">
                        <i class="fas fa-pen-square"></i>
                        <p>Gestion Recrutements</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="forms">
                        <ul class="nav nav-collapse">
                            <li><a href="{{ path('app_Candidates') }}"><span class="sub-item">Candidates</span></a></li>
                            <li><a href="{{ path('app_Offre') }}"><span class="sub-item">Offre</span></a></li>
                            <li><a href="{{ path('app_Entretiens') }}"><span class="sub-item">Entretiens</span></a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#tables">
                        <i class="fas fa-table"></i>
                        <p>Gestion Projects</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav nav-collapse">
                            <li><a href="{{ path('app_basictable') }}"><span class="sub-item">Projects</span></a></li>
                            <li><a href="{{ path('app_datatables') }}"><span class="sub-item">Taches</span></a></li>
                        </ul>
                    </div>
                </li>

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#maps">
                        <i class="fas fa-map-marker-alt"></i>
                        <p>Gestion Transports</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="maps">
                        <ul class="nav nav-collapse">
                            <li><a href="{{ path('app_googlemaps') }}"><span class="sub-item">Transports</span></a></li>
                            <li><a href="{{ path('app_jsvectormap') }}"><span class="sub-item">Abonnement</span></a></li>
                            <li><a href="{{ path('app_jsvectormap') }}"><span class="sub-item">Trajet</span></a></li>
                        </ul>
                    </div>
                </li>

               
                

               

            </ul>
        </div>
    </div>
</div>
