<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <div class="logo-header" data-background-color="dark">
            <a href="{{ path('app_home') }}" class="logo">
                <img src="{{ asset('assets/img/kaiadmin/evolve.png') }}" alt="navbar brand" class="navbar-brand" height="100"/>
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
    </div>

    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                

                

                

                

                <li class="nav-item">
                    <a data-bs-toggle="collapse" href="#forms">
                        <i class="fas fa-pen-square"></i>
                        <p>Gestion Recrutements</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="forms">
                        <ul class="nav nav-collapse">
                            <li><a href="{{ path('app_Candidates') }}"><span class="sub-item">Candidates</span></a></li>
                            <li><a href="{{ path('app_Offre') }}"><span class="sub-item">Offre</span></a></li>
                            <li><a href="{{ path('app_Entretiens') }}"><span class="sub-item">Entretiens</span></a></li>
                        </ul>
                    </div>
                </li>



            </ul>
        </div>
    </div>
</div>
